h1 {
  display: inline;
}

#jason {
  color: white;
}
#hero {
  display: block;
  margin-top: 10vh
}

nav {
  display: inline-block;
  list-style-type: none;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0px; left: 0px; right: 0px;
  float: clear;
  vertical-align: middle;
}

/*COLORS
salmon: #d79c8c
dark-green/blue: #609194
*/

nav li {
  float: left;
  width: 25%;
  list-style-type: none;
  color: #141823;
  text-align: center;
  transition: all 3s ease 0s;
}

nav li a:hover {
  color: #609194;
}

nav li a {
  display: block;
  text-decoration: none;
  color: #141823;
  transition: all 0.3s ease 0s;
}

.main-navigation {
  display: inline;
}

.hero {
  text-align: center;
  padding: 20px;
}

.hero-name{
  padding: 3em;
}

.hero-image {
  background-image: url("/images/mountain%20hero.jpg");
  max-width: 80%;
  height: auto;
  margin: auto;
  background-clip: content-box;
}



.work-image {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.work-image img {
  width: 100%;
  height: auto;
  border: 0;
}

.work-description {
  text-align: center;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .work-description{
    display: none;
  }
}
